.header {
  padding: 25px 0;
  display: flex;
}

.header-profile, .header-name, .header-actions {
  width: 50%;
}

.header-profile {
  display: flex;
  align-items: center;

  img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    object-position: top;
    margin-right: 25px;
  }

  h1 {
    font-family: $lato;
    font-weight: $light;
    font-size: 25px;
  }

  span {
    font-family: 'Lato';
    font-weight: $medium;
    font-size: 15px;
  }
}

.header-actions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}