// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 575px)",
  'sm': "(min-width: 576px) and (max-width: 767px)",
  'md': "(min-width: 768px) and (max-width: 991px)",
  'lg': "(min-width: 992px) and (max-width: 1199px)",
  'xl': "(min-width: 1200px)",
) !default;

// Fonts
$lato: 'Lato', sans-serif;
$light: 300;
$regular: 400;
$medium: 700;
$bold: 900;
// Colors

$radius: 5px;
$shadow: rgba(0,0,0,.1);