.slide-content
  .timeline
    %h2
      %i.fa.fa-laptop
      WORK HISTORY
    .event.current
      %span.date{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "oct.2018 - current" } current
      %p
      %h4 Software Developer
      %h5 number8
      %p
        Working at CareerBuilder client. Big size web app, including mobile. Ruby on Rails with ReactJS as techs. Full stack tasks along the app. Scrum methodology acording to Jira flow. Git flow. Jenkins automatization. AWS services.
    .event
      %span.date{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "mar.2018 to oct.2018" } 2018
      %p
      %h4 Back-end Developer
      %h5 Bigwave
      %p
        I've worked with amazing developer team as backend developer. Involved in a Rails API REST building an e-commerce. Handling shopping cart, cotizations, chat between companies and users, etc. Implementing STI and delayed_jobs.
    .event
      %span.date{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "jan.2017 to oct.2018" } 2017-2018
      %p
      %h4 Web Developer
      %h5 Slice Group
      %p
        I worked as web developer in Slice Group. Back-end and Front-end jobs. Experience in HTML (and HAML), CSS (and SASS), JavaScript (jQuery), Ruby, and frameworks as RoR. Basic knowledge of frontend javascript frameworks as EmberJS and ReactJS.
  .timeline
    %h2
      %i.fa.fa-graduation-cap
      EDUCATION
    .event
      %span.date{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "2014 - 2019" } 2019
      %p
      %h4 Systems Engineer
      %h5 National Experimental University of the Armed Forces
    .event
      %span.date{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "2014 - 2019" } 2019
      %p
      %h4 English Degree
      %h5 Alpha Learning