= Haml::Engine.new(File.read("app/partials/_head.haml")).render()
%body
  .container
    %section.header
      .header-profile
        %img{ src: 'https://media.licdn.com/dms/image/C4E03AQHzi5wtKKBQTA/profile-displayphoto-shrink_800_800/0?e=1583971200&v=beta&t=9UzQYpOSaXr0JEB05XCzpqP9Ma_kl0PgRnaZJcdJBKM', alt: 'Profile photo' }
        .header-name
          %h1 Enmanuel Chirinos
          %span Software Developer
          .header-social
            %i.fa.fa-linkedin
            %i.fa.fa-github
      .header-actions
        %a.btn.btn-custom{ href: '#' } Download CV
    %section.content
      .slider-nav
        %span resume
        %span portfolio
        %span contact
        %span blog
      .slider-for
        = Haml::Engine.new(File.read("app/partials/sections/_resume.haml")).render()
        = Haml::Engine.new(File.read("app/partials/sections/_portfolio.haml")).render()
        .slide-content
          contact
        .slide-content
          blog
  = Haml::Engine.new(File.read("app/partials/_scripts.haml")).render()
