.header {
  text-align: center;
  padding: 25px 0;
}

.header img {
  width: 160px;
  border-radius: 50%;
  height: 160px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 25px;
}

.header h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.header span {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 15px;
}

.slider-nav {
  margin-top: 25px;
  height: 50px;
  text-align: center;
}

.slider-nav span {
  border-bottom: 3px solid #edf1f3;
  color: #939393;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  letter-spacing: 1.4px;
  font-size: 18px;
  text-transform: uppercase;
}

.slider-nav span.slick-current {
  color: #D8572A;
  border-bottom: 3px solid #D8572A;
}

.slick-slide:focus {
  outline: none;
}

.slide-content {
  padding: 50px 0;
}

.timeline {
  position: relative;
  padding-left: 112px;
  padding-bottom: 8px;
}

.timeline h2 {
  position: relative;
  margin-bottom: 2em;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1px;
}

.event {
  position: relative;
  padding: 26px 32px;
  margin-bottom: 3em;
  background: #ffffff;
  border: 3px solid #EDF1F3;
  border-radius: 6px;
}

.event:before {
  border-right-color: #EDF1F3;
  border-width: 15px;
  margin-top: -15px;
}

.event:after, .event:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.event h4 {
  font-size: 16px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.event h5 {
  margin: 0;
  padding: 0 0 .3em 0;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: #C9D5D6;
}

.event p {
  margin: .6em 0 .2em 0;
  font-size: 14px;
  letter-spacing: .02em;
}

.date + p {
  margin: 0px;
}

.event .date {
  position: absolute;
  left: -110px;
  width: 80px;
  text-align: center;
  background: #939393;
  display: block;
  z-index: 120;
  color: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 11px;
  padding: 10px;
}

.event.current .date {
  background-color: #D8572A;
}

.event p:before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: -72px;
  height: 160%;
  width: 4px;
  background: #F4F6F7;
}
